<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="apiAutoTest" verbose="1" preserve-order="true" parallel="false">
    <parameter name="variableSheetName" value="variables"/>
    <test name="register-login-add-findByName" enabled="true">  <!--test必须有name属性-->
        <parameter name="excelPath" value="caseData/caseData.xlsx"/>
        <parameter name="dataSheetName" value="v4_scenesCase"/>

        <classes>
            <class name="com.qzcsbj.autotest.testcase.DemoCase"/>
        </classes>
    </test>

    <listeners>
        <!-- ExtentReport 报告  -->
        <!--<listener class-name="com.qzcsbj.autotest.listener.ExtentTestNGIReporterListener"/>-->
    </listeners>
</suite>